.app-overview{
  margin: 4px 1px;
  box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.2), 0 1px 7px 0 rgba(0, 0, 0, 0.19);
  border-radius: 2px;

  .top-div{
      box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.2), 0 0px 6px 0 rgba(0, 0, 0, 0.19);
      // justify-content: space-between;
      
  }
  li{
      cursor: pointer;
  }
  ul li:hover{
      background-color: #ddd;
  }
  .list-items-b{
      font-size: 10px;
  }
  .top-div-heading{
      color: #0071b9;
      font-size: 20px;
      font-weight: 400;
      margin: 4px 6px;
  }
  .filter-span{
      // position: fixed;
      margin: 8px 4px;
  }
  .filter-input{
      margin: 5px 0;
      width: 100%;
      padding: 4.8px 0;
      border: 1px solid #e8e8e8;
      border-radius: 8px;
      cursor: pointer;
  }
  .filter-search{
      margin: 5px 0;
      width: 100%;
      padding: 6px 0;
      border: 1px solid #e8e8e8;
      border-radius: 8px;
  }
  .addSite-btn{
      color: #0071b9;
  }
  .home-a{
      border: 1px solid #cccc;
      border-radius: 5px;
      margin: 9px 9px 9px 9px;
      
  }
  .home-toolbar{
      color: #fefffe;
      font-size: 17px;
      font-weight: 300;
      height: 43px;
      border-top-right-radius: inherit;
      border-top-left-radius: inherit;
  }
  nav ul{height:210px}
  nav ul{overflow:hidden; overflow-y:scroll;list-style: none;}
  ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
  }
  ul li {
      border: 1px solid #ddd;
      margin-top: -1px;
      background-color: #f6f6f6;
      padding: 8px;
      text-decoration: none;
      font-size: 14px;
      color: black;
      display: block;
      position: relative;
      
  }
  ::-webkit-scrollbar {
      width: 0 !important;
      overflow: auto;
      
    }
    
    /* Track */
    ::-webkit-scrollbar-track {
      background: transparent;
      border-radius: 3px;
    }
    
    /* Handle */
    ::-webkit-scrollbar-thumb {
      background: #888; 
      border-radius: 10px;
    }
    
    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
      background: #555; 
    }
  
  //   #input_container {
  //     position:relative;
  //     padding:0 0 0 20px;
  //     margin:0 20px;
  //     background:#ddd;
  //     direction: rtl;
  //     width: 200px;
  // }
  // #input-a {
  //     height:20px;
  //     margin:0;
  //     padding-right: 30px;
  //     width: 100%;
  // }
  // #input_img {
  //     position:absolute;
  //     bottom:2px;
  //     right:5px;
  //     width:24px;
  //     height:24px;
  // }
}