<div class="app-overview">
  <div fxLayout="row wrap">
      <div class="top-div" fxFlex="100" fxLayout.xs="column">
          <div fxFlex="50">
              <div class="top-div-heading">Sites</div>
          </div>
          <div fxFlex>
                      <div class="top-div-filters">
                          <span class="filter-span">Filter By</span>
                          <div fxFlex="32">
                              <select  class="filter-input" required>
                                  <option value="volvo">City</option>
                                  <option value="saab">Country</option>
                                  <option value="mercedes">Mercedes</option>
                                  <option value="audi">Audi</option>
                              </select>
                          </div>
                          <div fxFlex="5px"></div>
                          <div class="search" fxFlex>
                              <input  class="filter-search" id="input-a" placeholder="Search">
                          </div>
                          <button class="addSite-btn" mat-button>Add Sites +</button>
                      </div>
          </div>
      </div>
      <div  class="main-content-info" fxFlex="100">
          <div fxLayout="row wrap" fxLayout.xs="column">
              <div fxFlex="33.33">
                  <div class="home-a">
                      <mat-toolbar class="home-toolbar" [style.background-color]="'#0071b9'" [style.height]="'37px'">Karachi, Pakistan</mat-toolbar>
                      <nav>
                          <ul>
                              <li (click)="siteOveview()" matTooltip="Info about the site">Office <div class="list-items-b">Dha Pahse 2</div></li>
                              <li>Home <div class="list-items-b">Dha Pahse 2</div></li>
                              <li>Hotel <div class="list-items-b">Dha Pahse 2</div></li>
                              <li>Farm House <div class="list-items-b">Dha Pahse 2</div></li>
                              <li>Resturant <div class="list-items-b">Dha Pahse 2</div></li>
                              <li>Office <div class="list-items-b">Dha Pahse 2</div></li>
                              <li>Office <div class="list-items-b">Dha Pahse 2</div></li>
                          </ul>
                      </nav>                    
                  </div>
              </div>
              <div fxFlex="33.33">
                      <div class="home-a">
                          <mat-toolbar class="home-toolbar" [style.background-color]="'#448ccb'" [style.height]="'37px'">Hyderabad, Pakistan</mat-toolbar>
                          <nav>
                              <ul>
                                  <li>Office <div class="list-items-b">Dha Pahse 2</div></li>
                                  <li>Home <div class="list-items-b">Dha Pahse 2</div></li>
                                  <li>Hotel <div class="list-items-b">Dha Pahse 2</div></li>
                                  <li>Farm House <div class="list-items-b">Dha Pahse 2</div></li>
                                  <li>Resturant <div class="list-items-b">Dha Pahse 2</div></li>
                                  <li>Office <div class="list-items-b">Dha Pahse 2</div></li>
                                  <li>Office <div class="list-items-b">Dha Pahse 2</div></li>
                              </ul>
                          </nav>                    
                      </div>
              </div>
              <div fxFlex="33.33">
                          <div class="home-a">
                              <mat-toolbar class="home-toolbar" [style.background-color]="'#605ca8'" [style.height]="'37px'">Islamabd, Pakistan</mat-toolbar>
                              <nav>
                                  <ul>
                                      <li>Office <div class="list-items-b">Dha Pahse 2</div></li>
                                      <li>Home <div class="list-items-b">Dha Pahse 2</div></li>
                                      <li>Hotel <div class="list-items-b">Dha Pahse 2</div></li>
                                      <li>Farm House <div class="list-items-b">Dha Pahse 2</div></li>
                                      <li>Resturant <div class="list-items-b">Dha Pahse 2</div></li>
                                      <li>Office <div class="list-items-b">Dha Pahse 2</div></li>
                                      <li>Office <div class="list-items-b">Dha Pahse 2</div></li>
                                  </ul>
                              </nav>                    
                          </div>
              </div>
              <div fxFlex="33.33">
                      <div class="home-a">
                          <mat-toolbar class="home-toolbar" [style.background-color]="'#9e79ea'" [style.height]="'37px'">Lahore, Pakistan</mat-toolbar>
                          <nav>
                              <ul>
                                  <li>Office <div class="list-items-b">Dha Pahse 2</div></li>
                                  <li>Home <div class="list-items-b">Dha Pahse 2</div></li>
                                  <li>Hotel <div class="list-items-b">Dha Pahse 2</div></li>
                                  <li>Farm House <div class="list-items-b">Dha Pahse 2</div></li>
                                  <li>Resturant <div class="list-items-b">Dha Pahse 2</div></li>
                                  <li>Office <div class="list-items-b">Dha Pahse 2</div></li>
                                  <li>Office <div class="list-items-b">Dha Pahse 2</div></li>
                              </ul>
                          </nav>                    
                      </div>
              </div>
              <div fxFlex="33.33">
                      <div class="home-a">
                          <mat-toolbar class="home-toolbar" [style.background-color]="'#7994ec'" [style.height]="'37px'">Peshawar, Pakistan</mat-toolbar>
                          <nav>
                              <ul>
                                  <li>Office <div class="list-items-b">Dha Pahse 2</div></li>
                                  <li>Home <div class="list-items-b">Dha Pahse 2</div></li>
                                  <li>Hotel <div class="list-items-b">Dha Pahse 2</div></li>
                                  <li>Farm House <div class="list-items-b">Dha Pahse 2</div></li>
                                  <li>Resturant <div class="list-items-b">Dha Pahse 2</div></li>
                                  <li>Office <div class="list-items-b">Dha Pahse 2</div></li>
                                  <li>Office <div class="list-items-b">Dha Pahse 2</div></li>
                              </ul>
                          </nav>                    
                      </div>
              </div>
              <div fxFlex="33.33">
                      <div class="home-a">
                          <mat-toolbar class="home-toolbar" [style.background-color]="'#82e0a5'" [style.height]="'37px'">Quetta, Pakistan</mat-toolbar>
                          <nav>
                              <ul>
                                  <li>Office <div class="list-items-b">Dha Pahse 2</div></li>
                                  <li>Home <div class="list-items-b">Dha Pahse 2</div></li>
                                  <li>Hotel <div class="list-items-b">Dha Pahse 2</div></li>
                                  <li>Farm House <div class="list-items-b">Dha Pahse 2</div></li>
                                  <li>Resturant <div class="list-items-b">Dha Pahse 2</div></li>
                                  <li>Office <div class="list-items-b">Dha Pahse 2</div></li>
                                  <li>Office <div class="list-items-b">Dha Pahse 2</div></li>
                              </ul>
                          </nav>                    
                      </div>
              </div>
          </div>
      </div>
  </div>
</div>
