<div class="app-scenes">
  <div fxLayout.lg="row wrap" fxLayout.lt-lg="row wrap" fxLayout.xs="column">
    <div *ngFor="let scene of userAssociatedScenes"  class="scenes-mainDiv"    fxFlex="20" >
      <div class="scenes-made">
          <div class="scenes-made-heading">{{scene.name}}</div>
          <div class="scenes-made-a">
              <button (click)="btnSecneEdit(scene)" class="scenes-made-btn" mat-stroked-button>Edit</button>
              <div fxFlex="15px"></div>
              <button  (click)="btnExecute(scene.objectId)" class="scenes-made-btn"  mat-stroked-button>Execute</button>
          </div>
      </div>
    </div>
  </div>
</div>
