<div class="app-overview-dashboard">
  <div [style.margin]="'0px -10px'" class="top-mentions-grid" fxLayout.gt-sm="row wrap" fxLayout.lt-md="column">
    <div [style.padding]="'10px'" fxFlex="25">
      <div class="overview-dashboard-a">
        <div class="overview-dashboard-b">Status</div>
        <div class="overview-dashboard-c">
          <span class="on">{{devicesInfo?.totalOnlineDevicesCount || 0}} <span
              [style.margin]="'-4px'">online</span></span>
          <span class="divide">/</span>
          <p class="off">{{devicesInfo?.totalOfflineDevicesCount || 0}} <span [style.margin]="'-4px'">offline</span></p>
          <!-- <span><img class="image-class" src="../../../../../assets/icons/1.png" width="30px" alt=""> </span> -->
          <span><img class="image-class" src="https://muxlifeassets.s3.ap-south-1.amazonaws.com/assets/icons/1.png"
              width="30px" alt=""> </span>
        </div>
      </div>
    </div>
    <div [style.padding]="'10px'" fxFlex="25">
      <div class="overview-dashboard-a">
        <div class="overview-dashboard-b">Registered Devices</div>
        <div class="overview-dashboard-c">
          <p class="registered">{{devicesInfo?.totalOnlineDevicesCount +  devicesInfo?.totalOfflineDevicesCount || 0}}
          </p>
          <!-- <span><img class="image-class" src="../../../../../assets/icons/2.png" width="30px" alt=""> </span> -->
          <span><img class="image-class" src="https://muxlifeassets.s3.ap-south-1.amazonaws.com/assets/icons/2.png"
              width="30px" alt=""> </span>
        </div>
      </div>
    </div>
    <div [style.padding]="'10px'" fxFlex="25">
      <div class="" class="overview-dashboard-a">
        <div class="overview-dashboard-b">Total Sites</div>
        <div class="overview-dashboard-c">
          <p class="on">{{devicesInfo?.totalOnlineDevicesCount || 0}}</p>
          <!-- <span><img  class="image-class" src="../../../../../assets/icons/3.png" width="30px" alt=""> </span> -->
          <span><img class="image-class" src="https://muxlifeassets.s3.ap-south-1.amazonaws.com/assets/icons/3.png"
              width="30px" alt=""> </span>
        </div>
      </div>
    </div>
    <div [style.padding]="'10px'" fxFlex="25">
      <div class="" class="overview-dashboard-a">
        <div class="overview-dashboard-b">Total Scenes </div>
        <div class="overview-dashboard-e">
          <p class="bottom-d" [style.color]="'#dc2020'">{{devicesInfo?.totalScenesCount || 0}}</p>
          <!-- <span ><img class="bottom-h" src="../../../../../assets/icons/7.png"  width="30px" alt=""> </span> -->
          <span><img class="bottom-h" src="https://muxlifeassets.s3.ap-south-1.amazonaws.com/assets/icons/7.png"
              width="30px" alt=""> </span>
        </div>
      </div>
    </div>
    <div [style.padding]="'10px'" fxFlex="66.67">
      <div class="" class="overview-dashboard-a">
        <div class="overview-dashboard-d">Mux Devices</div>
        <div class="input-field">
          <div fxLayoutAlign="end" [style.padding]="'3px'" class="form-group">
            <input type="text" class="form-control" (keydown.enter)="$event.preventDefault()" placeholder="Search Map"
              autocorrect="off" autocapitalize="off" spellcheck="off" type="text" #search>
          </div>
        </div>
        <div class="">
          <agm-map [latitude]="lat" [longitude]="lng" [zoom]="3" [fullscreenControl]='true' [mapTypeControl]='true'
            [styles]='[
              {"featureType": "road.highway",elementType: "labels",stylers:[{visibility: "off"}]},
              {"featureType": "road.arterial",elementType: "labels",stylers: [{visibility: "off"}]}, 
              {"featureType": "road.local",elementType: "labels",stylers: [{visibility: "off"}]} ]'>
            <agm-marker-cluster [maxZoom]="10"
              imagePath="https://raw.githubusercontent.com/googlemaps/v3-utility-library/master/markerclustererplus/images/m">
              <agm-marker *ngFor="let marker of markers" [latitude]="marker['latitude']"
                [longitude]="marker['longitude']"
                [iconUrl]="'https://muxlifeassets.s3.ap-south-1.amazonaws.com/assets/icons/onstate.gif'">
                <agm-info-window [disableAutoPan]="false" #infoWindow>
                  <div>
                    <label class="agm-tooltip">Device</label>
                  </div>
                  <div>
                    <p>Connected Device</p>
                  </div>

                </agm-info-window>
              </agm-marker>
              <agm-marker *ngFor="let device of allDevicesConnected" [latitude]="device['location']?.latitude"
                [longitude]="device['location']?.longitude"
                [iconUrl]="'https://muxlifeassets.s3.ap-south-1.amazonaws.com/assets/icons/deviceStates.gif'">
                <agm-info-window [disableAutoPan]="false" #infoWindow>
                  <div>
                    <label class="agm-tooltip">{{device?.name}}</label>
                  </div>
                  <div>
                    <p>{{device['location']?.latitude}} , {{device['location']?.longitude}}</p>
                  </div>

                </agm-info-window>
              </agm-marker>
            </agm-marker-cluster>
          </agm-map>
        </div>
      </div>
    </div>
    <div [style.padding]="'10px'" fxFlex="33.33">
      <div class="" class="overview-dashboard-a">
        <table>
          <tr>
            <th>Last Activity</th>
            <th></th>
          </tr>
          <tr>
            <td>Location</td>
            <td>Karachi , Pakistan</td>
          </tr>
          <tr>
            <td>Time</td>
            <td>{{time || '0:00:00'}}</td>
          </tr>
          <tr>
            <td>Device Type</td>
            <td>{{lastActivity?.deviceType || '--'}}</td>
          </tr>
          <tr>
            <td>State</td>
            <td>{{lastActivity?.state || '--'}}</td>
          </tr>
          <tr>
            <td>Platform</td>
            <td>{{lastActivity?.lastActionPlatform || '--'}}</td>
          </tr>
          <tr>
            <td>Status</td>
            <td>{{lastActivity?.status || '--'}}</td>
          </tr>
        </table>
      </div>
    </div>
    <!-- <div [style.padding]="'10px'" fxFlex="25">
      <div class="" class="overview-dashboard-a">
        <div class="overview-dashboard-b">Registered Users</div>
          <div [style.border-bottom]="'5px solid #307ddb'" class="overview-dashboard-e">
            <p class="bottom-a" [style.color]="'#307ddb'">{{devicesInfo?.totalUsersCount || 0}}</p>
            <span><img class="bottom-e" src="../../../../../assets/icons/5.png" width="30px" alt=""> </span>        
        </div>
      </div>
    </div>
    <div [style.padding]="'10px'" fxFlex="25">
          <div class="" class="overview-dashboard-a">
            <div class="overview-dashboard-b">Current Logged in Users</div>
            <div [style.border-bottom]="'5px solid #ffb027'" class="overview-dashboard-e">
              <p class="bottom-b" [style.color]="'#ffb027'">100</p>
            <span><img class="bottom-f" src="../../../../../assets/icons/6.png" width="30px" alt=""> </span>
            </div>
          </div>
    </div>
    <div [style.padding]="'10px'" fxFlex="25">
        <div class="" class="overview-dashboard-a">
          <div class="overview-dashboard-b">Current Timers / Schedule</div>
          <div [style.border-bottom]="'5px solid #21ae53'" class="overview-dashboard-e">
            <p class="bottom-c" [style.color]="'#21ae53'">{{devicesInfo?.totalActiveTimers || 0}}</p>
            <span><img class="bottom-g" src="../../../../../assets/icons/8.png" width="30px" alt=""> </span>
          </div>
        </div>
    </div>
    <div [style.padding]="'10px'" fxFlex="25">
        <div class="" class="overview-dashboard-a">
          <div class="overview-dashboard-b">Total Scenes </div>
          <div [style.border-bottom]="'5px solid #dc2020'" class="overview-dashboard-e">
            <p class="bottom-d" [style.color]="'#dc2020'">{{devicesInfo?.totalScenesCount || 0}}</p>
            <span ><img class="bottom-h" src="../../../../../assets/icons/7.png"  width="30px" alt=""> </span>
          </div>
        </div>
    </div> -->
    <div [style.padding]="'10px'" fxFlex="60">
      <div class="overview-dashboard-a">
        <app-column [devicesInfo]="devicesInfo"></app-column>
      </div>
    </div>
    <div [style.padding]="'10px'" fxFlex="40">
      <div class="overview-dashboard-a">
        <app-bar-chart [devicesInfo]="devicesInfo"></app-bar-chart>
      </div>
    </div>
    <!-- <div [style.padding]="'10px'" fxFlex="100">
      <div class="overview-dashboard-a">
        <app-stacked [devicesInfo]="devicesInfo"></app-stacked>
      </div>
    </div> -->
  </div>
</div>
