<div class="app-edit-profile">
  <mat-toolbar>
    <div class="testing">
        <button mat-button (click)="backBtn()"><i class="material-icons">chevron_left</i>Back</button>
        <button mat-button (click)="addProfile()" style="position: absolute;right: 0;"> Edit Profile</button>
    </div>
  </mat-toolbar>
  <h2 style="text-align:center;text-transform: uppercase;">User Profile</h2>
<div class="card">
  <img src="{{userInfo.profileImage.url}}" alt="John" height="350px" style="width:100%">
  <h1><i class="ml-user-tie1"></i>{{userInfo?.firstName}}</h1>
  <p class="title"><i class="ml-envelop1"></i>{{userInfo?.email}}</p>
  <p><i class="ml-phone1"></i>{{userInfo?.phoneNumber}}</p>
</div>
</div>