.card {
    box-shadow: 0 12px 1px 0 rgba(0, 0, 0, 0.2);
    max-width: 450px;
    margin: auto;
    text-align: center;
  }
  
  .title {
    color: grey;
    font-size: 15px;
  }
  
  h2{
    font-size: 20px;
    font-family: inherit;
  }
  h1{
    color: #0f7bbf !important;
    font-size: 20px;
  }
  i{
    margin: 5px;
  }