<div class="app-smart-remote-overview">
  <div *ngFor="let assocRemoteDevice of associateRemoteDeiveObject">
      <div class="device-content">
        <div class="smart-remote-a" fxLayout="row">
          <div fxLayout="row">
              <i *ngIf="assocRemoteDevice?.remoteDeviceType.typeValue === 'AC'" class="ml-ac deviceIcon"></i>
              <i *ngIf="assocRemoteDevice?.remoteDeviceType.typeValue === 'TV'" class="ml-tv deviceIcon"></i>
              <i *ngIf="assocRemoteDevice?.remoteDeviceType.typeValue === 'Multimedia'" class="ml-tv deviceIcon"></i>
              <div fxLayout="column">
                <div>{{assocRemoteDevice?.name}}</div>
                <div [style.font-size]="'10px'">{{assocRemoteDevice?.remoteDeviceModel.make.name}}</div>
              </div>
          </div>
            <div  (click)="smartRemoteDeviceSetting(assocRemoteDevice)">
              <button mat-stroked-button color="primary">Open </button>
            </div>
        </div>
      </div>
  </div>
  <div fxLayoutAlign="end">
      <button mat-raised-button (click)="onNoClick()" [style.width]="'100%'" color="primary">OK</button>
  </div>
</div>