.app-smart-remote-overview{
    margin: 4px;
    .device-content{
        padding: 2px;
    }
    .deviceIcon{
        font-size: 25px;
        background: -webkit-linear-gradient(#eee, #0f7bbf);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        margin: 5px 8px 0px 0px;
    }
    .smart-remote-a{
        justify-content: space-between;
        padding: 2px;
        border-bottom: 1px solid #cccc;
    }
}