<div class="app-addProfile">
  <form [formGroup]="addProfileForm" (ngSubmit)="onProfileSubmit()">
  <div class="inputFields" fxLayout="row wrap">
    <div fxFlex="100" fxLayoutAlign="center">
      <span class="add-Profile-head0">EDIT PROFILE</span>
    </div>
    <div class="inputField-option" fxFlex="100">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="First name" formControlName="fname" name="fname" required>
      </mat-form-field>
    </div>
    <div class="inputField-option" fxFlex="100">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Last name" formControlName="lname" name="lname" required>
      </mat-form-field>
    </div>
    <div class="inputField-option" fxFlex="100">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Phone number" formControlName="phoneNo" name="phoneNo" required>
      </mat-form-field>
    </div>
    <div class="inputField-option" fxFlex="100">
      <!-- <input  (change)="onFileSelected()" #fileInput type="file" id="file" accept="image/gif, image/jpeg, image/png"> -->
      <span style="color:red;" *ngIf="message">{{message}}</span>
      <input #file type="file" accept='image/*' (change)="preview(file.files)" formControlName="profileImage" name="profileImage" required />
    </div>
    <div fxFlex="100">
        <img [src]="imgURL" height="80" *ngIf="imgURL">
    </div>
    <div fxLayoutAlign="end" fxFlex="100">
      <button type="submit" mat-stroked-button [disabled]="this.addProfileForm?.invalid">Submit</button>
      <div fxFlex="5px"></div>
      <button type="button" mat-stroked-button (click)="onNoClick()">Cancel</button>
    </div>
  </div>
  </form>
</div>
