.app-smart-blind-device{

    .main-heading{
        text-align: center;
    }
    .smart-blind-control-options{
        margin: 0px 0px 4px;
        padding: 4px 0px;
        border-bottom: 1px solid #cccc;
    }
    .ml-play21{
        font-size: 33px;
        color: #0f7bbf;
    }
    .ml-pause1{
        font-size: 33px;
        color: #0f7bbf;
    }
    .ml-next1{
        font-size: 16px;
    }
    
    .ml-circle-up{
        font-size: 20px;
        color: #0f7bbf;
    }
    .ml-circle-down{
        font-size: 20px;
        color: #0f7bbf;
    }
    span{
        font-weight: 600;
    }
    .disableClass{
        color : red;
    }
    .ml-blinds{
        font-size: 36px;
        padding: 5px;
        color: #0f7bbf;
    }
    .ml-blind_up{
        font-size: 36px;
        padding: 5px;
        color: #0f7bbf;
    }
    .ml-blind_down{
        font-size: 36px;
        padding: 5px;
        color: #0f7bbf;
    }
    .deviceIcon{
        font-size: 47px;
        background: -webkit-linear-gradient(#eee, #0f7bbf);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        margin: 4px;
      }
}