<div class="app-add-automation">
  <div fxLayout="row wrap">
    <div class="select-condtions-div" [style.padding]="'10px'" class="" fxFlex="33.33">
      <label  for="">Automation name</label>
      <input class="example-full-width" type="text" placeholder="Enter automation name" [(ngModel)]="automationName" name="automationName">
    </div>
    <div class="select-condtions-div" [style.padding]="'10px'" class="" fxFlex="33.33">
      <label for="">Select condition</label>
      <mat-select class="example-full-width" [(ngModel)]="selectedCondition" name="selectedCondition" placeholder="Select Conditions">
          <mat-option value="schedule">schedule</mat-option>
      </mat-select>
    </div>
    <div class="select-scenes-div" [style.padding]="'10px'" class="" fxFlex="33.33">
        <label for="">Select Scenes</label>
        <mat-select class="example-full-width" [(ngModel)]="selectedScenes" name="selectedScenes" placeholder="Select Scenes">
            <mat-option *ngFor="let scenes of getAllscenes" [value]="scenes.objectId">{{ scenes.name }}</mat-option>
        </mat-select>
    </div>
    <div fxFlex="50" [style.padding]="'10px'" class="">
      <label>Time:</label>
      <input class="date-input"  placeholder="Schedule time" [(ngModel)]="scheduleTime" name="scheduleTime" [owlDateTimeTrigger]="schedule_time"
        [owlDateTime]="schedule_time" readonly>
      <owl-date-time [pickerType]="'timer'" #schedule_time></owl-date-time>
    </div>
    <div lass="select-days-div" [style.padding]="'10px'" class="" fxFlex="50">
        <label for="">Select Days</label>
        <mat-select class="example-full-width" [(ngModel)]="scheduleDays" name="scheduleDays" multiple placeholder="Select automation days">
            <mat-option *ngFor="let weekday of weekDays" [value]="weekday">{{ weekday }}</mat-option>
        </mat-select>
    </div>
    <div fxFlex="100" fxLayoutAlign="center">
      <span>Select Devices</span>
    </div>
    <div class="line-space" fxFlex="100"></div>
    <div [style.padding]="'10px'" fxFlex="100">
      <div class="app-smart-control">
        <div class="top-menu-options">
          <mat-tab-group (selectedTabChange)="tabChanged($event)">
            <mat-tab label="All">
              <div fxLayout.lt-lg="row wrap" fxLayout.gt-lg="row wrap" fxLayout.gt-md="row wrap"
                fxLayout.lt-md="column">
                <div *ngFor="let devices of getallDevices" class="smart-options" [style.padding]="'10px'" fxFlex="25">
                  <div class="smart-options-a" fxLayout="row">
                    <div fxLayout="row">
                      <i *ngIf="devices['primaryDeviceType']['typeValue'] === 'SWS'" class="ml-socket deviceIcon"></i>
                      <i *ngIf="devices['primaryDeviceType']['typeValue'] === 'sdf'"
                        class="ml-fan-dimme deviceIcon"></i>
                      <i *ngIf="devices['primaryDeviceType']['typeValue'] === 'SB3'"
                        class="ml-switchboard deviceIcon"></i>
                      <i *ngIf="devices['primaryDeviceType']['typeValue'] === 'sol'" class="ml-plug deviceIcon"></i>
                      <i *ngIf="devices['primaryDeviceType']['typeValue'] === 'MSL'" class="ml-light deviceIcon"></i>
                      <i *ngIf="devices['primaryDeviceType']['typeValue'] === 'STX'" class="ml-IR deviceIcon"></i>
                      <i *ngIf="devices['primaryDeviceType']['typeValue'] === 'SBS'" class="ml-blinds deviceIcon"></i>
                      <div class="smart-options-b" fxLayout="column">
                        <span [style.font-size]="'11px'">{{devices?.name}}</span>
                        <span [style.font-size]="'9px'">Muxlife Device</span>
                      </div>
                    </div>
                    <div class="smart-options-c" *ngIf="devices['primaryDeviceType']['typeValue'] === 'sol' 
                                          || devices['primaryDeviceType']['typeValue'] === 'SBS' 
                                          || devices['primaryDeviceType']['typeValue'] === 'SWS' ">
                    </div>
                    <div  *ngIf="devices['primaryDeviceType']['typeValue'] === 'MSL'">
                        <button [disabled]="!chkEnable.checked"  (click)="smartLightOption(devices)" mat-stroked-button color="primary" [style.margin]="'5px'">Set State</button>
                      </div>
                      <div *ngIf="devices['primaryDeviceType']['typeValue'] === 'sol'">
                        <button [disabled]="!chkEnable.checked"  mat-stroked-button color="primary" [style.margin]="'5px'" (click)="deviceDisplay(devices)">Set State</button>
                      </div>
                      <div *ngIf="devices['primaryDeviceType']['typeValue'] === 'SWS'">
                        <button [disabled]="!chkEnable.checked"  mat-stroked-button color="primary" [style.margin]="'5px'" (click)="deviceDisplay(devices)">Set State</button>
                      </div>
                      <div *ngIf="devices['primaryDeviceType']['typeValue'] === 'SBS'">
                        <button [disabled]="!chkEnable.checked"  mat-stroked-button color="primary" [style.margin]="'5px'" (click)="smartBlindSateType(devices)">Set State</button>
                      </div>
                      <div *ngIf="devices['primaryDeviceType']['typeValue'] === 'sdf'">
                        <button [disabled]="!chkEnable.checked"  mat-stroked-button color="primary" [style.margin]="'5px'" (click)="dimmerStateType(devices)">Set State</button>
                      </div>
                      <div *ngIf="devices['primaryDeviceType']['typeValue'] === 'SB3'">
                        <button [disabled]="!chkEnable.checked"  (click)="switchboardStatus(devices)" mat-stroked-button color="primary" [style.margin]="'5px'">Set State</button>
                      </div>
                      <div *ngIf="devices['primaryDeviceType']['typeValue'] === 'STX'">
                        <button [disabled]="!chkEnable.checked"  (click)="smartRemoteOverview(devices)" mat-stroked-button color="primary" [style.margin]="'5px'">Set State</button>
                      </div>
                    <div>
                      <mat-checkbox #chkEnable [checked]="devices.checked" (change)="onClickExpandRx($event.checked , devices)">
                      </mat-checkbox>
                    </div>
                  </div>
                </div>
              </div>
            </mat-tab>
            <mat-tab *ngFor="let roomsTabs of userRooms" id={{roomsTabs?.objectId}} [label]="roomsTabs?.name">
              <div fxLayout.lt-lg="row wrap" fxLayout.gt-lg="row wrap" fxLayout.gt-md="row wrap"
                fxLayout.lt-md="column">
                <div *ngFor="let assocDevices of associatedDevicesRoom" class="smart-options" [style.padding]="'10px'"
                  fxFlex="25">
                  <div class="smart-options-a" fxLayout="row">
                    <div fxLayout="row">
                      <i *ngIf="assocDevices['device']['primaryDeviceType']['typeValue'] === 'SWS'"
                        class="ml-socket deviceIcon"></i>
                      <i *ngIf="assocDevices['device']['primaryDeviceType']['typeValue'] === 'sdf'"
                        class="ml-fan-dimme deviceIcon"></i>
                      <i *ngIf="assocDevices['device']['primaryDeviceType']['typeValue'] === 'SB3'"
                        class="ml-switchboard deviceIcon"></i>
                      <i *ngIf="assocDevices['device']['primaryDeviceType']['typeValue'] === 'sol'"
                        class="ml-plug deviceIcon"></i>
                      <i *ngIf="assocDevices['device']['primaryDeviceType']['typeValue'] === 'MSL'"
                        class="ml-light deviceIcon"></i>
                      <i *ngIf="assocDevices['device']['primaryDeviceType']['typeValue'] === 'STX'"
                        class="ml-IR deviceIcon"></i>
                      <i *ngIf="assocDevices['device']['primaryDeviceType']['typeValue'] === 'SBS'"
                        class="ml-blinds deviceIcon"></i>

                      <div class="smart-options-b" fxLayout="column">
                        <span [style.font-size]="'11px'">{{assocDevices?.device.name }}</span>
                        <span [style.font-size]="'9px'">{{assocDevices?.room.name }}</span>
                      </div>
                    </div>
                    <div  *ngIf="assocDevices['device']['primaryDeviceType']['typeValue'] === 'MSL'">
                      <button [disabled]="!chkEnable.checked"  (click)="smartLightOption(assocDevices)" mat-stroked-button color="primary" [style.margin]="'5px'">Set State</button>
                    </div>
                    <div *ngIf="assocDevices['device']['primaryDeviceType']['typeValue'] === 'sol'">
                      <button [disabled]="!chkEnable.checked"  mat-stroked-button color="primary" [style.margin]="'5px'" (click)="deviceDisplay(assocDevices)">Set State</button>
                    </div>
                    <div *ngIf="assocDevices['device']['primaryDeviceType']['typeValue'] === 'SWS'">
                      <button [disabled]="!chkEnable.checked"  mat-stroked-button color="primary" [style.margin]="'5px'" (click)="deviceDisplay(assocDevices)">Set State</button>
                    </div>
                    <div *ngIf="assocDevices['device']['primaryDeviceType']['typeValue'] === 'SBS'">
                      <button [disabled]="!chkEnable.checked"  mat-stroked-button color="primary" [style.margin]="'5px'" (click)="smartBlindSateType(assocDevices)">Set State</button>
                    </div>
                    <div *ngIf="assocDevices['device']['primaryDeviceType']['typeValue'] === 'sdf'">
                      <button [disabled]="!chkEnable.checked"  mat-stroked-button color="primary" [style.margin]="'5px'" (click)="dimmerStateType(assocDevices)">Set State</button>
                    </div>
                    <div *ngIf="assocDevices['device']['primaryDeviceType']['typeValue'] === 'SB3'">
                      <button [disabled]="!chkEnable.checked"  (click)="switchboardStatus(assocDevices)" mat-stroked-button color="primary" [style.margin]="'5px'">Set State</button>
                    </div>
                    <div *ngIf="assocDevices['device']['primaryDeviceType']['typeValue'] === 'STX'">
                      <button [disabled]="!chkEnable.checked"  (click)="smartRemoteOverview(assocDevices)" mat-stroked-button color="primary" [style.margin]="'5px'">Set State</button>
                    </div>
                      <div>
                         <mat-checkbox  #chkEnable [checked]="assocDevices['device'].checked" (change)="onClickExpandRx($event.checked ,assocDevices['device'] )"></mat-checkbox>
                      </div>
                  </div>
                </div>

              </div>
            </mat-tab>
          </mat-tab-group>
        </div>
      </div>
    </div>
    <div [style.padding]="'10px'" fxFlex="100" fxLayoutAlign="end">
      <button (click)="addAutomation()" mat-raised-button>Create Automation</button>
    </div>
  </div>
</div>
