<div class="app-smart-control">
  <!-- <div class="" fxLayout="row wrap"> -->
  <!-- <button class="back-btn" (click)="backButton()" mat-button [style.font-weight]="'500'">
          <mat-icon class="add-btn-icon" [style.color]="'#0071b9'">keyboard_arrow_left</mat-icon>     
          Back   
      </button> -->
  <div fxLayoutAlign="end">
    <!-- <button class="add-device-btn" mat-button [style.font-weight]="'500'">+ Add Device</button> -->
    <div class="dropdown">
      <button class="setting-btn dropbtn" matTooltip="click here to add rooms" (click)="settingOptions()"
        fxLayoutAlign="end" mat-icon-button>
        <mat-icon [style.color]="'#0071b9'">settings</mat-icon>
      </button>
      <div id="myDropdown" class="dropdown-content" [style.position]="'fixed'">
        <a [style.background-color]="'#0071b9'" [style.color]="'#ffff'" href="#home">
          <div matTooltip="Click here to add rooms" class="setting-options-menu">
            <p>Rooms</p>
            <span>add room +</span>
          </div>
        </a>
        <a *ngFor="let roomsTabs of userRooms" routerLink="/sites/room">
          <div class="setting-options-menu">
            <p>{{roomsTabs?.name}}</p>
            <span>05 Devices</span>
          </div>
        </a>
      </div>
    </div>
  </div>
  <div class="top-menu-options">
    <mat-tab-group (selectedTabChange)="tabChanged($event)">
      <mat-tab label="All">
        <div fxLayout.lt-lg="row wrap" fxLayout.gt-lg="row wrap" fxLayout.gt-md="row wrap" fxLayout.lt-md="column">
          <div *ngFor="let devices of getallDevices" class="smart-options" [style.padding]="'10px'" fxFlex.lg="25"
            fxFlex.gt-lg="30">
            <div class="smart-options-a" [ngClass]="devices['status'] === false ? 'disableClass' : 'smart-options-a'"
              fxLayout="row">
              <div class="iconsContent" fxLayout="row">
                <i *ngIf="devices['primaryDeviceType']['typeValue'] === 'SWS'" class="ml-socket deviceIcon"
                  [ngClass]="devices['status'] === false ? 'deviceDisableIcons' : ''"></i>
                <i *ngIf="devices['primaryDeviceType']['typeValue'] === 'sdf'" class="ml-fan-dimme deviceIcon"
                  [ngClass]="devices['status'] === false ? 'deviceDisableIcons' : ''"></i>
                <i *ngIf="devices['primaryDeviceType']['typeValue'] === 'SB3'" class="ml-switchboard deviceIcon"
                  [ngClass]="devices['status'] === false ? 'deviceDisableIcons' : ''"></i>
                <i *ngIf="devices['primaryDeviceType']['typeValue'] === 'sol'" class="ml-plug deviceIcon"
                  [ngClass]="devices['status'] === false ? 'deviceDisableIcons' : ''"></i>
                <i *ngIf="devices['primaryDeviceType']['typeValue'] === 'MSL'" class="ml-light deviceIcon"
                  [ngClass]="devices['status'] === false ? 'deviceDisableIcons' : ''"></i>
                <i *ngIf="devices['primaryDeviceType']['typeValue'] === 'STX'" class="ml-IR deviceIcon"
                  [ngClass]="devices['status'] === false ? 'deviceDisableIcons' : ''"></i>
                <i *ngIf="devices['primaryDeviceType']['typeValue'] === 'SBS'" class="ml-blinds deviceIcon"
                  [ngClass]="devices['status'] === false ? 'deviceDisableIcons' : ''"></i>
                <div class="smart-options-b" fxLayout="column">
                  <span [style.font-size]="'11px'" [style.word-break]="'break-all'">{{devices?.name}}</span>
                  <span [style.font-size]="'9px'">Muxlife Device</span>
                </div>
              </div>
              <div class="smart-options-c" *ngIf="devices['primaryDeviceType']['typeValue'] === 'sol' 
                  || devices['primaryDeviceType']['typeValue'] === 'SWS' ">
                <!-- <mat-slide-toggle  [checked]="((assocDevices?.device['deviceSetting']['smartBlindsStateType']['typeValue'] ==='on' ? true : false))" (click)="Devicetoggle($event , assocDevices ,  assocDevices?.device.macAddress)"  id="{{assocDevices?.device.macAddress}}"></mat-slide-toggle>                        -->
                <!-- <mat-slide-toggle  [checked]="((assocDevices?.device.state == true) ? true : false)" (click)="Devicetoggle($event , assocDevices ,  assocDevices?.device.macAddress)"  id="{{assocDevices?.device.macAddress}}"></mat-slide-toggle> -->
                <!-- <mat-slide-toggle  [checked]="((assocDevices?.device.state == true) ? true : (assocDevices['device'] && assocDevices['device']['deviceSetting'] && assocDevices['device']['deviceSetting']['smartBlindsStateType'] && assocDevices['device']['deviceSetting']['smartBlindsStateType']['typeValue'] == on) ? true : false )" (click)="Devicetoggle($event , assocDevices ,  assocDevices?.device.macAddress)"  id="{{assocDevices?.device.macAddress}}"></mat-slide-toggle>                        -->
                <mat-slide-toggle
                  [matTooltip]="devices.status === false ? 'Device is not connected' : 'Switch the toggle'"
                  [disabled]="devices?.status === false" 
                  [checked]="((devices?.state == true) ? true :
                     (devices['deviceSetting']['smartBlindsStateType']?.objectId === 'MBp3Bv68zN' )  
                     && (devices['deviceSetting']['smartBlindsStateType']?.typeValue == 'off') ? 
                     (devices['deviceSetting']['smartBlindsStateType']?.objectId === '8Jt9nNwoet' )  
                     && (devices['deviceSetting']['smartBlindsStateType']?.typeValue == 'on') : 
                     (devices['deviceSetting']['smartBlindsStateType']?.objectId === 'MBp3Bv68zN' )  
                     && (devices['deviceSetting']['smartBlindsStateType']?.typeValue == 'off'))"
                  (change)="Devicetoggle($event , devices ,  devices?.macAddress)" id="{{devices?.macAddress}}">
                </mat-slide-toggle>
              </div>
              <div *ngIf="devices['primaryDeviceType']['typeValue'] === 'SBS'">
                <button mat-stroked-button color="primary" [disabled]="devices['status'] === false"
                  [style.margin]="'5px'" (click)="smartBlindSateType(devices)">Open</button>
              </div>
              <div *ngIf="devices['primaryDeviceType']['typeValue'] === 'sdf'">
                <button mat-stroked-button color="primary" [disabled]="devices['status'] === false"
                  [style.margin]="'5px'" (click)="dimmerStateType(devices)">Open</button>
              </div>
              <div *ngIf="devices['primaryDeviceType']['typeValue'] === 'SB3'">
                <button (click)="switchboardStatus(devices)" [disabled]="devices['status'] === false" mat-stroked-button
                  color="primary" [style.margin]="'5px'">Open</button>
              </div>
              <div *ngIf="devices['primaryDeviceType']['typeValue'] === 'STX'">
                <button (click)="smartRemoteOverview(devices)" [disabled]="devices['status'] === false"
                  [matTooltip]="headad" mat-stroked-button color="primary" [style.margin]="'5px'">Open</button>
              </div>
              <div *ngIf="devices['primaryDeviceType']['typeValue'] === 'MSL'">
                <button (click)="smartLightOption(devices)" [disabled]="devices['status'] === false" mat-stroked-button
                  color="primary" [style.margin]="'5px'">Open</button>
              </div>
            </div>
          </div>
        </div>
      </mat-tab>
      <mat-tab *ngFor="let roomsTabs of userRooms" id={{roomsTabs?.objectId}} [label]="roomsTabs?.name">
        <div fxLayout.lt-lg="row wrap" fxLayout.gt-lg="row wrap" fxLayout.gt-md="row wrap" fxLayout.lt-md="column">
          <div *ngFor="let assocDevices of asoociatedDevicesRoom" class="smart-options" [style.padding]="'10px'"
            fxFlex="25">
            <div class="smart-options-a"
              [ngClass]="assocDevices['device']['status'] === false ? 'disableClass' : 'smart-options-a'"
              fxLayout="row">
              <div fxLayout="row">
                <i *ngIf="assocDevices['device']['primaryDeviceType']['typeValue'] === 'SWS'"
                  class="ml-socket deviceIcon"
                  [ngClass]="assocDevices['device']['status'] === false ? 'deviceDisableIcons' : ''"></i>
                <i *ngIf="assocDevices['device']['primaryDeviceType']['typeValue'] === 'sdf'"
                  class="ml-fan-dimme deviceIcon"
                  [ngClass]="assocDevices['device']['status'] === false ? 'deviceDisableIcons' : ''"></i>
                <i *ngIf="assocDevices['device']['primaryDeviceType']['typeValue'] === 'SB3'"
                  class="ml-switchboard deviceIcon"
                  [ngClass]="assocDevices['device']['status'] === false ? 'deviceDisableIcons' : ''"></i>
                <i *ngIf="assocDevices['device']['primaryDeviceType']['typeValue'] === 'sol'" class="ml-plug deviceIcon"
                  [ngClass]="assocDevices['device']['status'] === false ? 'deviceDisableIcons' : ''"></i>
                <i *ngIf="assocDevices['device']['primaryDeviceType']['typeValue'] === 'MSL'"
                  class="ml-light deviceIcon"
                  [ngClass]="assocDevices['device']['status'] === false ? 'deviceDisableIcons' : ''"></i>
                <i *ngIf="assocDevices['device']['primaryDeviceType']['typeValue'] === 'STX'" class="ml-IR deviceIcon"
                  [ngClass]="assocDevices['device']['status'] === false ? 'deviceDisableIcons' : ''"></i>
                <i *ngIf="assocDevices['device']['primaryDeviceType']['typeValue'] === 'SBS'"
                  class="ml-blinds deviceIcon"
                  [ngClass]="assocDevices['device']['status'] === false ? 'deviceDisableIcons' : ''"></i>
                <div class="smart-options-b" fxLayout="column">
                  <span [style.font-size]="'11px'">{{assocDevices?.device.name }}</span>
                  <span [style.font-size]="'9px'">{{assocDevices?.room.name }}</span>
                </div>
              </div>
              <div class="smart-options-c" *ngIf="assocDevices['device']['primaryDeviceType']['typeValue'] === 'sol' 
                      || assocDevices['device']['primaryDeviceType']['typeValue'] === 'SWS' ">
                <!-- <mat-slide-toggle  [checked]="((assocDevices?.device['deviceSetting']['smartBlindsStateType']['typeValue'] ==='on' ? true : false))" (click)="Devicetoggle($event , assocDevices ,  assocDevices?.device.macAddress)"  id="{{assocDevices?.device.macAddress}}"></mat-slide-toggle>                        -->
                <!-- <mat-slide-toggle  [checked]="((assocDevices?.device.state == true) ? true : false)" (click)="Devicetoggle($event , assocDevices ,  assocDevices?.device.macAddress)"  id="{{assocDevices?.device.macAddress}}"></mat-slide-toggle> -->
                <!-- <mat-slide-toggle  [checked]="((assocDevices?.device.state == true) ? true : (assocDevices['device'] && assocDevices['device']['deviceSetting'] && assocDevices['device']['deviceSetting']['smartBlindsStateType'] && assocDevices['device']['deviceSetting']['smartBlindsStateType']['typeValue'] == on) ? true : false )" (click)="Devicetoggle($event , assocDevices ,  assocDevices?.device.macAddress)"  id="{{assocDevices?.device.macAddress}}"></mat-slide-toggle>                        -->
                <mat-slide-toggle
                  [matTooltip]="assocDevices?.device.status === false ? 'Device is not connected' : 'Switch the toggle'"
                  [checked]="((assocDevices?.device.state === true) ? true : false)"
                  [disabled]="assocDevices?.device.status === false"
                  (change)="Devicetoggle($event , assocDevices ,  assocDevices?.device.macAddress)"
                  id="{{assocDevices?.device.macAddress}}"></mat-slide-toggle>
              </div>
              <div *ngIf="assocDevices['device']['primaryDeviceType']['typeValue'] === 'SBS'">
                <button mat-stroked-button color="primary" [disabled]="assocDevices['device']['status'] === false"
                  [style.margin]="'5px'" (click)="smartBlindSateType(assocDevices)">Open</button>
              </div>
              <div *ngIf="assocDevices['device']['primaryDeviceType']['typeValue'] === 'sdf'">
                <button mat-stroked-button color="primary" [disabled]="assocDevices['device']['status'] === false"
                  [matTooltip]="assocDevices['device']['status'] === false ? 'Device is not connected' : 'Open the button'"
                  [style.margin]="'5px'" (click)="dimmerStateType(assocDevices)">Open</button>
              </div>
              <div *ngIf="assocDevices['device']['primaryDeviceType']['typeValue'] === 'SB3'">
                <button [disabled]="assocDevices['device']['status'] === false"
                  (click)="switchboardStatus(assocDevices)" mat-stroked-button color="primary"
                  [style.margin]="'5px'">Open</button>
              </div>
              <div *ngIf="assocDevices['device']['primaryDeviceType']['typeValue'] === 'STX'">
                <button [disabled]="assocDevices['device']['status'] === false"
                  (click)="smartRemoteOverview(assocDevices)" mat-stroked-button color="primary"
                  [style.margin]="'5px'">Open</button>
              </div>
              <div *ngIf="assocDevices['device']['primaryDeviceType']['typeValue'] === 'MSL'">
                <button (click)="smartLightOption(assocDevices)" [disabled]="assocDevices['device']['status'] === false"
                  mat-stroked-button color="primary" [style.margin]="'5px'">Open</button>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="!asoociatedDevicesRoom || asoociatedDevicesRoom.length === 0">
          <div class="no-device-found">No devices found for this room.</div>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
