  <div class="app-smart-light">
    <div *ngIf="!state" fxLayout="row wrap">
        <div fxFlex="100" fxLayoutAlign="center">
        <span class="top-heading">Smart Light</span>
        </div>
      <div fxFlex="100" fxLayoutAlign="center">
      <div *ngIf="deviceCurrentState === 'L1'"  matTooltip="switch off" class="dimmerIcon" fxLayoutAlign="center" (click)="smartLightSwitch(deviceObject , 'L1')"><i  [style.color]="'red'" class="ml-light deviceIcon"></i></div>
      <div *ngIf="deviceCurrentState === 'L0'" matTooltip="switch on" class="dimmerIcon" fxLayoutAlign="center" (click)="smartLightSwitch(deviceObject , 'L0')"><i  [style.color]="'green'" class="ml-light deviceIcon"></i></div>
      </div>
      <div fxFlex="100" [hidden]="deviceCurrentState === 'L0'">
        <label for="">Change Color</label>
        <color-hue-picker [hidden]="deviceCurrentState === 'L0'" [radius]="50" (onChangeComplete)="SmartLightFunction($event , 1 , deviceObject)" [width]="'0 auto'"></color-hue-picker>
        <div class="space"></div>
        <label for="">Brightness</label>
        <mat-slider  [tickInterval]="2" [disabled]="deviceCurrentState === 'L0'"  class="mat-slider-horizontal" step="1" min="0" value="{{deviceBrightness}}" max="255" matTooltip="slide me!" (change)="SmartLightFunction($event , 2, deviceObject)"></mat-slider>
      </div>
      <div fxFlex="100" fxLayoutAlign="end">
        <button mat-raised-button (click)="onNoClick()">Done</button>
      </div>
    </div>

    <div *ngIf="state" fxLayout="row wrap">
        <div fxFlex="100" fxLayoutAlign="center">
        <span class="top-heading">Smart Light</span>
        </div>
      <div fxFlex="100" fxLayoutAlign="center">
      <div *ngIf="deviceCurrentState === 'L1'"  matTooltip="switch off" class="dimmerIcon" fxLayoutAlign="center" (click)="smartLightSwitch(deviceObject , 'L1')"><i  [style.color]="'red'" class="ml-light deviceIcon"></i></div>
      <div *ngIf="deviceCurrentState === 'L0'" matTooltip="switch on" class="dimmerIcon" fxLayoutAlign="center" (click)="smartLightSwitch(deviceObject , 'L0')"><i  [style.color]="'green'" class="ml-light deviceIcon"></i></div>
      </div>
      <div fxFlex="100" [hidden]="deviceCurrentState === 'L0'">
        <label for="">Change Color</label>
        <color-hue-picker [hidden]="deviceCurrentState === 'L0'" [radius]="50" (onChangeComplete)="SmartLightState($event , 1 , deviceObject)" [width]="'0 auto'"></color-hue-picker>
        <div class="space"></div>
        <label for="">Brightness</label>
        <mat-slider  [tickInterval]="2" [disabled]="deviceCurrentState === 'L0'"  class="mat-slider-horizontal" step="1" min="0" value="{{deviceBrightness}}" max="255" matTooltip="slide me!" (change)="SmartLightFunction($event , 2, deviceObject)"></mat-slider>
      </div>
      <div fxFlex="100" fxLayoutAlign="end">
        <button mat-raised-button (click)="onNoClick()">Done</button>
      </div>
    </div>
  </div>
