<div class="app-rooms">
  <div class="top-header-content">
    <span class="top-header-heading">Dining Room</span>
    <span>
      <button mat-button>Save</button>
      <button mat-button>Delete Rooms</button>
      <button mat-button>Setting</button>
    </span>
  </div>
  <div class="device-in-room">
    <div  fxLayout-lt-lg="row wrap" fxLayout.gt-md="row wrap" fxLayout.lt-md="column">
      <div fxFlex="100">
        <div class="heading-a">Device in this room</div>
      </div>
      <div class="smart-options" [style.padding]="'10px'" fxFlex="25">
        <div class="smart-options-a" fxLayout="row">
          <img src="../../../../../assets/icons/RJSwitch.png" height="50px" alt="">
          <div class="smart-options-b" fxLayout="column">
            <span [style.font-size]="'17px'">Light</span>
            <span [style.font-size]="'10px'">Drawing room</span>
           </div>
           <div class="smart-options-c">
            <button mat-button>
              <mat-icon class="remove-device-icon">maximize</mat-icon>
            </button>
          </div>
          </div>
      </div>
      <div class="smart-options" [style.padding]="'10px'" fxFlex="25">
          <div class="smart-options-a" fxLayout="row">
            <img src="../../../../../assets/icons/blind.png" height="50px" alt="">
            <div class="smart-options-b" fxLayout="column">
              <span [style.font-size]="'17px'">Blind</span>
              <span [style.font-size]="'10px'">Drawing room</span>
             </div>
             <div class="smart-options-c">
              <button mat-button>
                <mat-icon class="remove-device-icon">maximize</mat-icon>
              </button>
            </div>
            </div>
      </div>
      <div class="smart-options" [style.padding]="'10px'" fxFlex="25">
          <div class="smart-options-a" fxLayout="row">
            <img src="../../../../../assets/icons/socket.png" height="50px" alt="">
            <div class="smart-options-b" fxLayout="column">
              <span [style.font-size]="'17px'">Socket</span>
              <span [style.font-size]="'10px'">Drawing room</span>
             </div>
             <div class="smart-options-c">
              <button mat-button>
                <mat-icon class="remove-device-icon">maximize</mat-icon>
              </button>
            </div>
            </div>
      </div>
      <div class="smart-options" [style.padding]="'10px'" fxFlex="25">
          <div class="smart-options-a" fxLayout="row">
            <img src="../../../../../assets/icons/dimmer.png" height="50px" alt="">
            <div class="smart-options-b" fxLayout="column">
              <span [style.font-size]="'17px'">Fan</span>
              <span [style.font-size]="'10px'">Drawing room</span>
             </div>
             <div class="smart-options-c">
              <button mat-button>
                <mat-icon class="remove-device-icon">maximize</mat-icon>
              </button>
            </div>
            </div>
      </div>
      <div class="smart-options" [style.padding]="'10px'" fxFlex="25">
          <div class="smart-options-a" fxLayout="row">
            <img src="../../../../../assets/icons/dimmer.png" height="50px" alt="">
            <div class="smart-options-b" fxLayout="column">
              <span [style.font-size]="'17px'">Fan</span>
              <span [style.font-size]="'10px'">Drawing room</span>
             </div>
             <div class="smart-options-c">
              <button mat-button>
                <mat-icon class="remove-device-icon">maximize</mat-icon>
              </button>
            </div>
            </div>
      </div>
    </div>
  </div>
  <div class="device-in-room">
      <div  fxLayout-lt-lg="row wrap" fxLayout.gt-md="row wrap" fxLayout.lt-md="column">
        <div fxFlex="100">
         <div class="heading-a">Device not in this room</div>
        </div>
        <div class="smart-options" [style.padding]="'10px'" fxFlex="25">
          <div class="smart-options-a" fxLayout="row">
            <img src="../../../../../assets/icons/dimmer.png" height="50px" alt="">
            <div class="smart-options-b" fxLayout="column">
              <span [style.font-size]="'17px'">Fan</span>
              <span [style.font-size]="'10px'">Drawing room</span>
             </div>
              <div class="smart-options-c">
                <button mat-button>
                  <mat-icon class="add-device-icon">add</mat-icon>
                </button>
              </div>
            </div>
        </div>
        <div class="smart-options" [style.padding]="'10px'" fxFlex="25">
            <div class="smart-options-a" fxLayout="row">
              <img src="../../../../../assets/icons/dimmer.png" height="50px" alt="">
              <div class="smart-options-b" fxLayout="column">
                <span [style.font-size]="'17px'">Fan</span>
                <span [style.font-size]="'10px'">Drawing room</span>
               </div>
                <div class="smart-options-c">
                  <button mat-button>
                    <mat-icon class="add-device-icon">add</mat-icon>
                  </button>
                </div>
              </div>
        </div>
        <div class="smart-options" [style.padding]="'10px'" fxFlex="25">
            <div class="smart-options-a" fxLayout="row">
              <img src="../../../../../assets/icons/dimmer.png" height="50px" alt="">
              <div class="smart-options-b" fxLayout="column">
                <span [style.font-size]="'17px'">Fan</span>
                <span [style.font-size]="'10px'">Drawing room</span>
               </div>
                <div class="smart-options-c">
                  <button mat-button>
                    <mat-icon class="add-device-icon">add</mat-icon>
                  </button>
                </div>
              </div>
        </div>
       
      </div>
  </div>
</div>