.app-sites-overview{
    margin: 7px;

   /* Styles for tab labels */
    // .mat-tab-labels{
    //     // border: 1.2px #cccc outset;
    // }
    .mat-tab-label {
        padding: 5px;
        margin: 6px 0px;
        background-color: transparent;
        color: #333333;
        font-weight: 500;
    }

    /* Styles for the active tab label */
    .mat-tab-label.mat-tab-label-active {
        // min-width: 25px !important;
        padding: 5px;
        background-color: transparent;
        color: #0071b9;
        font-weight: 500;
    }
}