$icomoon-font-family: "muxlife" !default;
$icomoon-font-path: "fonts" !default;

$ml-phone1: "\e942";
$ml-envelop1: "\e945";
$ml-user-tie1: "\e976";
$ml-circle-up: "\ea41";
$ml-circle-down: "\ea43";
$ml-plus1: "\ea0a";
$ml-minus1: "\ea0b";
$ml-play21: "\ea15";
$ml-pause1: "\ea16";
$ml-previous1: "\ea18";
$ml-next1: "\ea19";
$ml-blind_down: "\e90d";
$ml-blind_up: "\e90e";
$ml-scenes: "\e90c";
$ml-automation: "\e90b";
$ml-IR: "\e908";
$ml-plug: "\e909";
$ml-Smart-light: "\e90a";
$ml-ac: "\e900";
$ml-blinds: "\e901";
$ml-curtains: "\e902";
$ml-fan-dimme: "\e903";
$ml-light: "\e904";
$ml-socket: "\e905";
$ml-switchboard: "\e906";
$ml-tv: "\e907";

