.top-menu-options{
    .automation-box{
        color: red;
        padding: 10px;
        background-color: white;
    }
    .sectionbox{
        padding: 10px;
        border: 1px solid #BFBFBF;
        background-color: white;
        box-shadow: 10px 10px 5px #aaaaaa;
    }
    .noDevice{
        padding-left: 20px;
    }
    .smart-options-a{
        box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.2), 0 1px 7px 0 rgba(0, 0, 0, 0.19);
        padding: 10px;
        border-radius: 4px;
        justify-content : space-between;
        height: 75px;
    }
    .top-menu-options{
        box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.2), 0 1px 7px 0 rgba(0, 0, 0, 0.19);
    }
    .smart-options-b{
      margin : 8px;
    }
    .back-btn{
      position: absolute;
      margin: 1px;
      color: #0071b9;
      font-weight: 500;

      .add-btn-icon{
        margin: 8px -8px;
      }
    }
   
    .smart-options-c{
        margin: 11px 7px;
    }
    .add-device-btn{
        margin: 4px 0px;
        color: #0071b9;
        font-weight: 500;
    }
    .setting-btn{
        margin: 0px 16px;
    }

    
    // Dropdown css      
      .dropdown {
        position: relative;
        display: inline-block;
      }
      
      .dropdown-content {
        display: none;
        position: absolute;
        right: 14px;
        background-color: #0071b9;
        min-width: 300px;
        overflow: auto;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        cursor: pointer;
        border-radius: 12px;
        z-index: 2;
      }
      
      .dropdown-content a {
        padding: 12px 16px;
        text-decoration: none;
        border: 1px solid #ddd;
        margin-top: -1px;
        background-color: #e8f1f8;
        font-size: 14px;
        color: black;
        display: block;
        position: relative;
      }
      
      .dropdown a:hover {background-color: #ddd;}
      
      .show {display: block;} 
      .setting-options-menu{
        display: flex;
        justify-content: space-between;
      }
      .setting-options-menu span{
          font-size: 13px;
      }
      .deviceIcons{
        border: 1px solid red;
        padding: 5px;
        border-radius: 8px;
      }
      .deviceIcon{
        font-size: 47px;
        background: -webkit-linear-gradient(#eee, #0f7bbf);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        margin: 4px;
      }
      .disableClass{
        background-color: #e8e8e8;
      }
      .disableClass .deviceDisableIcons {
        font-size: 47px;
        background: -webkit-linear-gradient(#eee, #858585);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        margin: 4px;
      }
      .no-device-found{
        padding: 10px;
        font-size: 15px;
        font-weight: 600;
      }
}