<div class="app-smart-blind-device">
  <div class="device-main-div">
    <div class="main-heading">{{smartBlindDeviceObject?.name}}</div>
    <div fxLayoutAlign="center">
      <i *ngIf="deviceDefaultState === 'pause'" class="ml-blinds"></i>
      <i *ngIf="deviceDefaultState === 'off'" class="ml-blind_down"></i>
      <i *ngIf="deviceDefaultState === 'on'" class="ml-blind_up"></i>      
    </div>
    <div *ngIf="!data.state" class="app-smartBlind-content">
      <div fxLayout="row wrap">
        <div fxLayout="row" class="smart-blind-control-options">
          <button mat-button matTooltip="down" (click)="smartBlindControl('off' , smartBlindDeviceObject)"><i
              class="ml-circle-down"></i></button>
          <!-- <button  (click)="smartRemoteTypeMulti(1 , 'playPause')" mat-button><i  class="ml-play21"></i></button> -->
          <button matTooltip="pause" (click)="smartBlindControl('pause' , smartBlindDeviceObject)" mat-button><i
              class="ml-pause1"></i></button>
          <button matTooltip="up" mat-button (click)="smartBlindControl('on' , smartBlindDeviceObject)"><i
              class="ml-circle-up"></i></button>
        </div>
      </div>
    </div>
    <div *ngIf="data.state" class="app-smartBlind-content">
      <div fxLayout="row wrap">
        <div fxFlex="100"></div>
        <div fxLayout="row" class="smart-blind-control-options">
          <button mat-button matTooltip="Off" (click)="smartBlindState(false)"><i class="ml-circle-down"></i></button>
          <button matTooltip="On" mat-button (click)="smartBlindState(true)"><i class="ml-circle-up"></i></button>
        </div>
      </div>
    </div>
    <div fxLayoutAlign="end">
      <button mat-stroked-button (click)="onNoClick()" color="primary">Close</button>
    </div>
  </div>
</div>
